{% extends "layout2.tpl" %}
{% block title -%}
Prochains matches
{%- endblock %}
{% block register %}
{% endblock %}

{% block main %}
<table class="table table-strip">
    <tr>
        <th>date</th>
        <th>lieu</th>
        <th>équipe 1</th>
        <th>equipe 2</th>
        <th>Nb inscrits</th>
    </tr>
    <tr>
        <td>02/01/2016</td>
        <td>sport dans la ville</td>
        <td>
            <ul>
                <li>laurent gaspar</li>
                <li>zinedine zidane</li>
                <li>claude puel</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>laurent gaspar</li>
                <li>zinedine zidane</li>
                <li>claude puel</li>
            </ul>
        </td>
        <td>6</td>
    </tr>
    <tr>
        <td>02/01/2016</td>
        <td>sport dans la ville</td>
        <td>
            <ul>
                <li>laurent gaspar</li>
                <li>zinedine zidane</li>
                <li>claude puel</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>laurent gaspar</li>
                <li>zinedine zidane</li>
                <li>claude puel</li>
            </ul>
        </td>
        <td>6</td>
    </tr>

</table>
{% endblock %}